---
interface Item {
  label: string;
  value: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<dl class="accounting-evidence-stack">
  {
    items.map((item) => (
      <div>
        <dt>{item.label}</dt>
        <dd>{item.value}</dd>
      </div>
    ))
  }
</dl>
